<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <title>Editing <%= food.title %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit <%= food.title %> </h1>
  <form
   action="/users/<%= user._id %>/foods/<%= food._id %>?_method=PUT"
  method="POST"
  >
     <label for="title">Name:</label>
    <input type="text" name="title" id="title" value="<%= food.title %>">
    >
    <button type="submit">Update</button>
  </form>
</body>
</html>