<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= food.title %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= food.title %></h1>
    <h1>Ingredients Are: <%= food.ingredients %></h1>
    <% if (food.notes) { %>
    <p>Notes: <%= food.notes %></p>
    <% } %> 
    <a href="/users/<%= user._id %>/foods/<%= food._id %>/edit">
      Edit This Recipe
    </a>
     <form
      action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete This Recipe</button>
    </form>
  </body>
</html>

